<div class="sidebar">
    <h2>Navigation</h2>
    <ul>
        <li><a routerLink="" aria-label="Admin"><i class="material-icons">admin_panel_settings</i> Admin</a></li>
        <li><a routerLink="/mfe1" aria-label="Remote 1 Home"><i class="material-icons">home</i> Remote 1 Home</a></li>
        <li><a routerLink="/away" aria-label="Remote 1 Away"><i class="material-icons">travel_explore</i> Remote 1 Away</a></li>
        <li><a routerLink="/mfe2" aria-label="Remote 2 Home"><i class="material-icons">home_filled</i> Remote 2 Home</a></li>
    </ul>      
  </div>